{% extends '_base.html' %}

{% block head %}

    <title> Xreader Panel - Volumes </title>

    <link href={{ url_for('static', filename='./css/navbar-top.css') }} rel="stylesheet">

{% endblock %}

{% block navbar %} 

    <nav class="navbar navbar-expand-md navbar-dark bg-success mb-4">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Xreader</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/admin">Home</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Novels</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown01">
                  <li><a class="dropdown-item" href="/admin/novels">Search</a></li>
                  <li><a class="dropdown-item" href="/admin/novels/add">Add</a></li>
                </ul>
            </li>
            </ul>
            <a class="btn btn-success bg-white text-success" href="/logout">Logout</a>
        </div>
        </div>
    </nav>

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>

{% endblock %}

{% block content %}
<div class="mx-5 px-5 table-responsive">
    <h1>List of Volumes of {{ main_novel.name }}</h1>
    <a class="btn btn-success" href="/admin/novels/{{ main_novel.id }}/volumes/add">Add Volume</a>
    <table class="table table-sm table-borderless align-middle table-hover caption-top">
        <caption>Volumes: {{ len(volumes) }}</caption>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Link</th>
            <th scope="col">Image Path</th>
          </tr>
        </thead>
        <tbody>
        {% for volume in volumes %}

          <tr>
            <td>
                <a class="btn btn-success" href="/admin/volumes/{{ volume.id }}/edit">Edit</a>
                <a class="btn btn-danger" href="/admin/volumes/{{ volume.id }}/delete">Delete</a>
            </td>

            <td>{{ volume.id }}</td>
            <td>{{ volume.name }}</td>
            <td>{{ volume.link }}</td>
            <td>{{ volume.image_path }}</td>
          </tr>

        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
